[submodule "advent-of-zote-2023"]
	path = advent-of-zote-2023
	url = https://github.com/KvGeijer/advent-of-zote-2023.git
[submodule "old-advent-of-zotes"]
	path = old-advent-of-zotes
	url = https://github.com/KvGeijer/old-advent-of-zotes.git
[submodule "Advent-of-Variety"]
	path = Advent-of-Variety
	url = https://github.com/KvGeijer/Advent-of-Variety.git
[submodule "Advent-of-Julia"]
	path = Advent-of-Julia
	url = https://github.com/KvGeijer/Advent-of-Julia.git
[submodule "Advent_of_Rust"]
	path = Advent_of_Rust
	url = https://github.com/KvGeijer/Advent_of_Rust.git
[submodule "Advent_of_Code_2020"]
	path = Advent_of_Code_2020
	url = https://github.com/KvGeijer/Advent_of_Code_2020.git
